[Unit]
Description=Generate wallpaper thumbnails

[Service]
Type=oneshot
ExecStart=/home/fc3243d4/.config/WallpaperChanger/generateWallpaperThumbnails.sh
